@model Admin.Customers.CustomerViewModel
@{
    ViewData["Title"] = Model.Name;
}

<script>hljs.initHighlightingOnLoad();</script>

<div class="container">
    <div class="row">
        <div class="col-5">
            <h1>@Model["https://schema.org/name"]</h1>
            <table class="table table-striped">
                <tbody>
                    @foreach (var kvp in Model)
                    {
                    <tr>
                        <th scope="row" class="text-right">@kvp.Key</th>
                        <td class="text-left">@kvp.Value</td>
                    </tr>
                    }
                    <tr>
                        <th scope="row" class="text-right">Transactions</th>
                        <td class="text-left">
                            <a asp-controller="Transaction"
                               asp-action="CustomerTransactions"
                               asp-route-id="@Model.Id">@Model["https://schema.org/name"]'s transactions</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>

        <div class="col-7">
            <h2>Transactions</h2>
            @if (Model.Transactions.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Payer</th>
                            <th>Payee</th>
                            <th>Fraud</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Type</td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payer.Name">@transaction.Payer.Name</a>
                            </td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payee.Name">@transaction.Payee.Name</a>
                            </td>
                            <td>@transaction.IsFraud</td>
                            <td class="text-right">@transaction.Amount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
