@model Admin.Customers.CustomerViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Update" asp-route-id="@Model.Id">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate">Born</label>
                    <input asp-for="BirthDate" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input asp-for="Phone" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="UserName">UserName</label>
                    <input asp-for="UserName" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Website">Website</label>
                    <input asp-for="Website" class="form-control">
                </div>
                @if (Model.Address != null)
                {
                <div class="form-group">
                    <label asp-for="Address.Street">Street</label>
                    <input asp-for="Address.Street" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Address.City">City</label>
                    <input asp-for="Address.City" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Address.ZipCode">ZipCode</label>
                    <input asp-for="Address.ZipCode" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Address.State">State</label>
                    <input asp-for="Address.State" class="form-control">
                </div>
                }
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <div class="col">
            <h2>Transactions</h2>
            @if (Model.Transactions.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Payer</th>
                            <th>Payee</th>
                            <th>Fraud</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Type</td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payer.Name">@transaction.Payer.Name</a>
                            </td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payee.Name">@transaction.Payee.Name</a>
                            </td>
                            <td>@transaction.IsFraud</td>
                            <td class="text-right">@transaction.Amount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
