@model Admin.Customers.CustomerViewModel
@{
    ViewData["Title"] = Model["https://schema.org/name"];
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Update" asp-route-id="@Model.Id">
                @foreach (var kvp in Model)
                {
                <div class="form-group">
                    <label for="@kvp.Key">@kvp.Key</label>
                    <input id="@kvp.Key" class="form-control" value="@kvp.Value">
                </div>
                }
                <button type="submit" class="btn btn-primary float-right">Update</button>
                <a asp-action="Customer" asp-route-id="@Model.Id">Cancel</a>
            </form>
        </div>

        <div class="col">
            <h2>Transactions</h2>
            @if (Model.Transactions.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Payer</th>
                            <th>Payee</th>
                            <th>Fraud</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Type</td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payer.Name">@transaction.Payer.Name</a>
                            </td>
                            <td>
                                <a asp-controller="Customer"
                                asp-action="Customer"
                                asp-route-id="@transaction.Payee.Name">@transaction.Payee.Name</a>
                            </td>
                            <td>@transaction.IsFraud</td>
                            <td class="text-right">@transaction.Amount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
