@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Admin.Transactions.TransactionsViewModel
@{
    ViewData["Title"] = "Transactions";
    // Set Layout here because _ViewStart.cshtml isn't loaded for some reason.
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Transactions</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Payer</th>
                <th>Payee</th>
                <th>Fraud</th>
                <th class="text-right">Amount</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Type</td>
                <td>
                    <a asp-controller="Customer"
                       asp-action="Customer"
                       asp-route-id="@transaction.Payer.Name">@transaction.Payer.Name</a>
                </td>
                <td>
                    <a asp-controller="Customer"
                       asp-action="Customer"
                       asp-route-id="@transaction.Payee.Name">@transaction.Payee.Name</a>
                </td>
                <td>@transaction.IsFraud</td>
                <td class="text-right">@transaction.Amount</td>
            </tr>
        }
        </tbody>
    </table>

</div>
